<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APFirebaseNotifi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84F8F0AA200E27E50069186A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F8F0BE200E27E60069186A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F8F0C9200E27E60069186A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
